@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Montserrat:wght@300&display=swap');

@layer components {
  .bg-radial-gradient {
    background: radial-gradient(at 50% 54%, #9fa2a9, #212325);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Jura", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: rgb(39, 39, 39);
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #fac666;
}

h3 {
  color: #fac666;
}

/* .sideBar {
  position: -webkit-sticky;
  height: 50vh;
  position: sticky;
  top: 0;
} */

#homeBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 180%;
  min-height: 180%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.7);
}

.textWrapper h2 {
  animation: revealText 1s;
}

@keyframes revealText {
  from {
    clip-path: inset(0 100% 0 0 round 0%);
  }

  to {
    clip-path: inset(0 0 0 0 round 0%);
  }
}

#wheel {
  -webkit-animation: moveLineDown 1s ease-out;
  animation: moveLineDown 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes moveLineDown {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}


/* blog */

.pagination-button-container li .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
}

.pagination-button-container li .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(0, 0, 0, 0.50);
  ;
  color: #fac666;
}

/* single car */
.designWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(400px, auto));
  margin: 0 auto;
  padding-top: clamp(80px, calc(5px + 9.375vw), 245px);
  padding-bottom: clamp(100px, calc(-25px + 15.625vw), 100px)
}

.text-container {
  grid-row: 2/3;
  grid-column: 1/13;
}

.text-container h2 {
  font-size: 7vw;
  text-transform: uppercase;
}

.text-container h2 div {
  display: inline-block;
  overflow: hidden;
  padding-right: 10px;
  line-height: normal;
}

.image-container {
  grid-column: 1/13;
  display: flex;
  gap: 30px;
  align-items: center;
}

.image-container .imageTwo {
  position: relative;
  width: 75%;
  margin: 15px 0 0 auto;
  overflow: hidden;
}

.imageOne,
.imageTwo,
.imageThree {
  position: relative;
}

.imageOne::before,
.imageTwo::before,
.imageThree::before {
  content: '';
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation: reveal 1s;
}

@keyframes reveal {
  0% {
    width: 100%;
    clip-path: inset(0 100% 0 0);
  }

  75% {
    width: 100%;
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
    width: 100%;
  }

}

@media(min-width:1024px) {
  .designWrapper {
    grid-template-rows: 1fr;
  }

  .text-container {
    grid-column: 1/5;
    grid-row: 1;
  }

  .text-container h2 {
    font-size: 3vw;
    margin: 0;
  }

  .image-container {
    grid-column: 6/13;
  }
}

/* brand page */
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  width: 70%;
  margin: 0 200px;
}

.brandBanner::before{
  position: absolute;
    content: "";
    width: 100%;
    height: 532px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #161a21 100%);
}